.admin-container {
  display: flex;
  margin-top: 10em;
}

.admin-table-container {
  max-width: 1000px;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  color: white;
}

.admin-table-container h1 {
  font-family: var(--font-title);
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

/* Styles de table admin */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.admin-table th,
.admin-table td {
  border: 1px solid var(--color-border);
  padding: 8px;
  text-align: left;
  font-family: var(--font-text);
}

.admin-table th {
  font-family: var(--font-subtitle);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.admin-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.75);
}

.admin-table tr:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.button-delete {
  background-color: transparent;
  color: red;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
}

.enter-button:hover {
  border-color: rgb(238, 3, 3);
}

@media (min-width: 490px) {
  .admin-container {
    margin-top: 8em;
  }

  .admin-table-container {
    max-width: 300px;
    padding: 30px;
  }

  .admin-table-container h1 {
    font-size: 1.2em;
  }

  .admin-table th,
  .admin-table td {
    padding: 12px;
  }

  .button-delete {
    font-size: 1.2em;
  }
}
