/* src/styles/Explore.css */
.enter-page {
  position: relative;
  width: 100%;
  height: auto; /* Hauteur augmentée pour permettre le défilement */
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hero section */
.hero-section {
  margin-top: 0.5em;

  position: relative;
  text-align: center;
  padding: 100px 20px;
  background: url("../assets/images/Back-to-the-Future.jpg") no-repeat center
    center;
  background-size: cover;
  height: 100vh;
  width: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
}

.hero-section .portrait {
  max-width: 300px; /* Ajustez cette taille selon vos besoins */
  border-radius: 10px; /* Arrondir les coins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Supprimez ou ajustez le bord noir */
  margin-bottom: 20px;
}

.hero-section h1 {
  font-family: var(--font-title);
  font-size: 2.5em;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-section .intro-text {
  font-family: var(--font-text);
  font-size: 1.2em;
  color: white;
  max-width: 800px;
  margin: 0 auto;
}

.gallery-section {
  position: relative;
  padding: 160px 20px;
  background-color: #fff;
  /* background: url("../src/assets/images/BackgroundImage2.jpg") no-repeat center
    center;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu de la gallery-section */
}

/* Gallery items and quote sections */
.gallery-item,
.quote-section {
  position: relative;
  width: 80%;
  margin: 100px auto;
  opacity: 0;
  transform: translateY(100px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.gallery-item.in-view,
.quote-section.in-view {
  opacity: 1;
  transform: translateY(0);
}

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  flex-direction: row;
}

.gallery-item.left {
  margin-right: 12em;
  flex-direction: row;
  background: url("../assets/images/KingKongBackground.jpg");
}

.gallery-item.right {
  margin-left: 8em;
  flex-direction: row-reverse;
  background: url("../assets/images/ExMachinaBackground.jpg");
}

.gallery-item img {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-item p {
  max-width: 45%;
  padding: 20px;
  font-family: var(--font-text);
  font-size: 1.2em;
  line-height: 1.5;
  text-align: left;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
}
.gallery-item.left.new-item {
  background: url("../assets/images/NewImageBackground.jpg"); /* Ajoutez l'image de fond pour la nouvelle section */
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.gallery-item img {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Styles pour la nouvelle section de citation */
.quote-section.right.new-item {
  border-left: 4px solid white; /* Style pour la nouvelle citation */
  max-width: 60%;
  margin-left: 9.3em;
}

.text-enter {
  font-family: var(--font-text);
  font-size: 1.7em;
  max-width: 800px;
  margin: 0 auto;
}

/* Quote section */
.quote-section {
  font-family: var(--font-text);
  font-size: 1.5em;
  line-height: 1.6;
  padding: 20px;
  border-left: 4px solid white;
  margin: 100px auto;
  text-align: center;
  max-width: 60%;
  margin-left: 9.3em;
  font-style: italic;
}

.quote-section blockquote {
  margin: 0;
  font-family: var(--font-text);
  color: white;
  font-size: 1.2em;
  text-align: start;
}

/* Final section with button */
/* .final-section {
  position: relative;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 1;
} */

.enter-button {
  font-family: var(--font-text);
  background-color: transparent;
  color: red;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 2.5em;
  align-self: center;
}

.enter-button:hover {
  border-color: rgb(238, 3, 3);
}

/* Parallax effect for background */
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/images/ParallaxBackground.jpg") no-repeat center
    center;
  background-size: cover;
  z-index: -1;
  will-change: transform;
}
