/* styles/FormConnection.css */

.form-connection {
  background-color: rgba(0, 0, 0, 0.75); /* Fond semi-transparent */
  padding: 40px 60px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 400px; /* Limite la largeur pour éviter d'être trop large sur grand écran */
  margin: auto;
  margin-top: 15em;
}

.form-connection h1 {
  font-family: var(--font-title);
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-connection form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-connection label {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: left;
  display: block;
  color: black;
}

.form-connection input[type="email"],
.form-connection input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  font-family: var(--font-text);
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: red;
  outline: none;
}

.form-connection input[type="email"]::placeholder,
.form-connection input[type="password"]::placeholder {
  color: rgb(184, 180, 180);
}

.box-button {
  margin-top: 20px;
}

/* styles/FormConnection.css */

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); /* Couleur de fond du bouton */
  color: rgb(238, 3, 3);
  border: 1px solid transparent;
  border-radius: 8px; /* Bordure arrondie */
  padding: 0.4em 0.8em;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%; /* S'adapte à la largeur du parent */
}

.button svg {
  margin-right: 8px; /* Espace entre l'icône et le texte */
  font-size: 1.5em; /* Taille de l'icône */
}

/* Affiche la bordure rouge au survol */
.button:hover {
  border-color: rgb(238, 3, 3); /* Couleur de bordure au survol */
}

/* Affiche l'infobulle au survol */
.button:hover::after {
  opacity: 1; /* Rend l'infobulle visible */
  visibility: visible; /* Affiche l'infobulle */
}

.popup-content {
  font-family: var(--font-text);
  font-size: 1.2em;
  margin-top: 20px;
  padding: 15px;
  background-color: #e50914;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .form-connection {
    padding: 30px 40px;
  }

  .form-connection h1 {
    font-size: 1.8em;
  }

  .button {
    font-size: 1.1em;
  }
}
