.profile-page {
  background-color: rgba(0, 0, 0, 0.75); /* Fond semi-transparent */
  padding: 40px 60px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 400px; /* Limite la largeur */
  margin: auto;
  margin-top: 15em;
  border: 0.5px solid white;
}

.profile-page h1 {
  font-family: var(--font-title);
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-photo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-photo-input {
  display: none;
}

.change-photo-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.4); /* Couleur de fond du bouton */
  color: rgb(238, 3, 3);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: var(--font-text);
}

.change-photo-button:hover {
  border-color: rgb(238, 3, 3);
}

.profile-info {
  width: 100%;
}

.form-input-group {
  margin-bottom: 20px;
}

.form-input-group label {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: left;
  display: block;
  color: black;
}

.form-input-group input {
  width: 100%;
  padding: 12px 15px;
  font-family: var(--font-text);
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: red;
  outline: none;
}

.form-input-group input::placeholder {
  color: rgb(184, 180, 180);
}

.profile-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.save-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(238, 3, 3);
  font-family: var(--font-text);
  font-size: 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
}

.save-button:hover {
  border-color: rgb(238, 3, 3);
}

.success-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
  font-family: var(--font-text);
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .profile-page {
    padding: 30px 40px;
    margin-top: 13em;
  }

  .profile-page h1 {
    font-size: 1.8em;
  }

  .save-button {
    font-size: 1.1em;
  }
}
