.ReactModal__Content {
  position: relative;
  margin: auto;
  padding: 20px;
  max-width: 450px;
  max-height: 38vh;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
  transform: scale(0.9);
  background-image: url("../assets/images/BackgroundImage1.jpg");
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1);
  background-image: url("../assets/images/BackgroundImage1.jpg");
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0.9);
}

.ReactModal__Content h2 {
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-title);
}

.ReactModal__Content p {
  margin-top: 1em;
  text-align: justify;
  font-family: var(--font-text);
}
.ReactModal__Content img {
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
}

.ReactModal__Content button {
  background-color: white;
  border: 1px solid transparent;
  color: rgb(238, 2, 2);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition:
    border-color 0.25s,
    color 0.25s;
}

.ReactModal__Content button:hover,
.ReactModal__Content button:focus {
  border-color: rgb(238, 2, 2);
  color: rgb(238, 2, 2);
  background-color: white;
  outline: none;
}
